<%= form_for(@task) do |f| %>
<div class="container">
  <div class="row">
  <h2>Edit Task</h2>
  <br>
  <div class="form-group col-md-12 col-md-offset-6" >
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group col-md-12 col-md-offset-6">
    <%= f.label :details %>
    <%= f.text_area :details, class: 'form-control' %>
  </div>

  <div class="form-check col-md-12 col-md-offset-6">
    <%= f.check_box :completed, class: 'form-check-input' %>
    <%= f.label :completed %>
  </div>

  <div class="col-md-12 col-md-offset-6">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
  </div>
</div>
<% end %>
