<h2><%= @task.title %></h2>
<%= link_to "Edit this task", task_edit_path %>
<p><%= @task.details %></p>
<% if @task.completed %>
<input type="checkbox" value="0" checked>
<label><%= "This task is completed" %></label>
<% else %>
<input type="checkbox" value="0">
<label><%= "This task is not completed yet" %></label>
<% end %>
<br>
<%= link_to "back to list", tasks_path %>
